.Competences {
    text-align: left;
    width: 950px;
    border-radius: 20%;
}

.Competences-p {
    font-size: 16px;
}

.Competences-tech {
    width: 48%;
    float: left;
    padding-left: 10px;
}

.Competences-pro {
    width: 48%;
    float: right;
}
