.Experiences {
    text-align: left;
    width: 950px;
    
}

.Experiences-p {
    font-size: 16px;
}

.LinkPerso {
    width: 950px;;
}

.Icone {
    width: 45%;
    float: left;
}
  
.Contact {
    width: 45%;
    float: right;
}

.Contact-P {
    font-size: 16px;
}

.LinkPerso-Icone {
    padding-left: 20px;
}
