.Title {
  width: 950px;
  background-color: crimson;
  max-height: 250px;
}

.TitleCV {
  color: #61dafb;
  width: 650px;
  float: left;
  text-align: center;
}

.Img {
  width: 215px;
  float: left;
  padding-left: 20px;
  padding-top: 50px;
  border-radius: 10% 50% 30% 60%;
}
